@import "../../colors.scss";

#page-about{
    #page-title{
        h1, h2{
            margin: 0;
        }
        h2{
            color: $text-opacity-75;
            font-weight: 400;
            font-size: 16px;
            position: relative;
            max-width: 130px;
            &::after{
                position:absolute;
                content: "";
                width: 130px;
                height: 2px;
                background-color: $main-highlight;
                right: -80px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

#arrows-about-me{
    svg{
        font-size: 16px;
        filter: invert(53%) sepia(100%) saturate(359%) hue-rotate(95deg) brightness(100%) contrast(99%);
    }
    h3{
        font-size: 16px;
        margin: 0;
    }
}