@import "../../colors.scss";

#page-resume{
    #section-show-summary{
        position: relative;
        margin-top: 30px;
        h3{
            color: $main-highlight;
        }
        h4{
            font-size: 18px;
            font-weight: 600;
            margin-top: 20px;
        }
        &::before{
            position: absolute;
            content: "";
            background-color: rgba(255, 255, 255, 0.15);
            width: 2px;
            height: 97%;
            bottom: -3px;
            left: 10px;
        }
        .content{
            position: relative;
            padding-left: 30px;
            margin-bottom: 30px;
            &::after{
                position: absolute;
                content: "";
                background-color: $main-highlight;
                width: 20px;
                height: 20px;
                top: 5px;
                left: 0px;
                border-radius: 100%;
            }
        }
        .date-with-bg-color{
            background-color: rgba(255, 255, 255, 0.1);
            width: 140px;
            margin: 10px 0;
            p{
                font-weight: 500;
                font-size: 14px;
                padding: 7px 15px;
            }
        }
        .title{
            position: relative;
        }
        ul{
            display: inline-grid;
            list-style: disc;
            li{
                display: list-item;
                margin: 20px 0 0 15px;
                padding: 0
            }
        }
    }
}